/* teaser section mobile */

.stripe {
  display: flex;
  justify-content: center;
}

/* teaser section mobile */

.stripe--grey {
  background-color: var(--brand-grey);
}

/* teaser section mobile */

.stripe--white {
  background-color: var(--brand-white);
}

/* teaser section mobile */

.stripe--purple {
  background-color: var(--brand-purple2);
}

/* teaser section mobile */

.landingpage-teaser-section__wrapper {
  padding: var(--spacer-xl) var(--spacer-base) var(--spacer-xl) var(--spacer-base);
}

/* teaser section mobile */

.landingpage-teaser-section__title {
  margin-top: var(--spacer-base);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
  text-align: left;
}

/* teaser section mobile */

.landingpage-teaser-section__title--purple {
  color: var(--brand-purple1);
}

/* teaser section mobile */

.landingpage-teaser-section__title--blue {
  color: var(--brand-blue1);
}

/* teaser section mobile */

.landingpage-teaser-section__title--black {
  color: var(--brand-black);
}

/* teaser section mobile */

.landingpage-teaser-section__grid {
  display: grid;
  margin-top: var(--spacer-lg);
  grid-gap: var(--spacer-lg);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
}

/* teaser section mobile */

.landingpage-teaser__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacer-lg) var(--spacer-base) var(--spacer-lg) var(--spacer-base);
  color: var(--brand-white);
  text-align: left;
}

/* teaser section mobile */

.landingpage-teaser__card--purple {
  background-color: var(--brand-purple1);
}

/* teaser section mobile */

.landingpage-teaser__card--blue {
  background-color: var(--brand-blue1);
}

/* teaser section mobile */

.landingpage-teaser__card--white {
  background-color: var(--brand-white);
}

/* teaser section mobile */

.landingpage-card__title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
}

/* teaser section mobile */

.landingpage-card__title--black {
  margin-top: var(--spacer-md);
  color: var(--brand-black);
}

/* teaser section mobile */

.landingpage-card__twitterhandle {
  margin-top: var(--spacer-xxs);
  color: var(--brand-black);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
}

/* teaser section mobile */

.landingpage-card__text {
  margin-top: var(--spacer-base);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
}

/* teaser section mobile */

.landingpage-card__text--black {
  color: var(--brand-black);
}

/* teaser section mobile */

.landingpage-teaser__card__avatar {
  width: auto;
  height: 5rem;
  border-radius: 100%;
  background-color: var(--brand-purple3);
}

/* teaser section mobile */

/* Noch offen: Hover, Focus */

.landingpage-card__button {
  display: inline-block;
  height: auto;
  padding: var(--spacer-xxs);
  margin-top: var(--spacer-base);
  color: var(--brand-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
  text-decoration: none;
}

/* teaser section mobile */

.landingpage-card__button--purple {
  background-color: var(--brand-purple2);
}

/* teaser section mobile */

.landingpage-card__button--blue {
  background-color: var(--brand-blue2);
}

/* teaser-section --breakpoint-md: 48rem; */

@media screen and (min-width: 48rem) {
  .stripe {
    display: flex;
    justify-content: center;
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-teaser-section__wrapper {
    max-width: var(--content-width-xl);
    align-items: center;
    padding: var(--spacer-xl) var(--spacer-xxxl) var(--spacer-xxl) var(--spacer-xxxl);
    justify-items: center;
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-teaser-section__title {
    margin-top: var(--spacer-xl);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--heading-line-height);
    text-align: left;
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-teaser-section__title--purple {
    color: var(--brand-purple1);
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-teaser-section__title--blue {
    color: var(--brand-blue1);
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-teaser-section__title--black {
    color: var(--brand-black);
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-teaser-section__grid {
    margin-top: var(--spacer-xl);
    grid-gap: var(--spacer-base);
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-teaser__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: var(--spacer-xl) var(--spacer-base);
    color: var(--brand-white);
    text-align: left;
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-card--purple {
    background-color: var(--brand-purple1);
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-card--blue {
    background-color: var(--brand-blue1);
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-teaser__card--white {
    display: grid;
    align-items: center;
    background-color: var(--brand-white);
    grid-gap: var(--spacer-md);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: start;
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-card__title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    line-height: var(--heading-line-height);
    text-align: left;
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-teaser__card__avatar {
    width: auto;
    height: 80px;
    align-self: end;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-card__title--black {
    color: var(--brand-black);
    grid-column: 1;
    grid-row: 1;
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-card__twitterhandle {
    color: var(--brand-black);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    grid-column: 1;
    grid-row: 2;
    line-height: var(--paragraph-line-height);
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-card__text {
    margin-top: var(--spacer-lg);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--paragraph-line-height);
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-card__text--black {
    margin-top: var(--spacer-md);
    color: var(--brand-black);
    grid-column: 1 / 3;
    grid-row: 3;
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-card__button {
    display: inline-block;
    height: auto;
    padding: var(--spacer-xs);
    margin-top: var(--spacer-lg);
    color: var(--brand-white);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--paragraph-line-height);
    text-decoration: none;
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-card__button--purple {
    background-color: var(--brand-purple2);
  }

  /* teaser-section --breakpoint-md: 48rem; */

  .landingpage-card__button--blue {
    background-color: var(--brand-blue2);
  }

  /* Hover and Focus */

  .landingpage-card__button--purple:hover {
    background-color: var(--brand-white);
    color: var(--brand-purple2);
    transition: all 2s ease-in-out;
  }

  .landingpage-card__button--purple:focus {
    background-color: var(--brand-white);
    color: var(--brand-purple2);
    transition: all 2s ease-in-out;
  }

  .landingpage-card__button--blue:hover {
    background-color: var(--brand-white);
    color: var(--brand-blue2);
    transition: all 2s ease-in-out;
  }

  .landingpage-card__button--blue:focus {
    background-color: var(--brand-white);
    color: var(--brand-blue2);
    transition: all 2s ease-in-out;
  }
}
