/* for mobile */

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
}

p {
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
}

.landingpage-header {
  display: grid;
  align-items: center;
  padding: var(--spacer-md) var(--spacer-sm) var(--spacer-lg) var(--spacer-sm);
  background-color: var(--brand-black);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.landingpage-header__wrapper {
  max-width: var(--content-width-xl);
}

.landingpage-header__logo {
  width: var(--spacer-xxl);
  height: auto;
}

.landingpage-header__title {
  margin-top: var(--spacer-xl);
  color: var(--brand-white);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
  text-align: center;
}

.landingpage-header__subtitle {
  margin-top: var(--spacer-base);
  color: var(--brand-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
  text-align: center;
}

.landingpage-header__keyvisual {
  width: var(--spacer-xxl);
  height: auto;
  margin-top: var(--spacer-lg);
  rotate: 90deg;
  transform: scaleY(-1);
}

/* footer mobile */

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacer-lg) var(--spacer-sm);
  margin-top: var(--spacer-sm);
  color: var(--brand-white);
  background-color: var(--brand-black);
}

.footer__subtitle {
  color: var(--brand-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
  text-align: flex-start;
}

.footer__logo {
  width: var(--spacer-xxl);
  height: auto;
  margin-top: var(--spacer-base);
}

.footer__textlink {
  margin-top: var(--spacer-sm);
  font-size: var(--font-size-sm);
  color: var(--brand-white);
}

/* breakpoint für größere Screens */

/* Header */

@media screen and (min-width: 48rem) {
  .landingpage-header {
    display: grid;
    align-items: start;
    padding: var(--spacer-xxxl);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: start;
    grid-column-gap: var(--spacer-lg);
  }

  .landingpage-header__logo {
    width: var(--spacer-xxxl);
    height: auto;
    grid-column: 1;
  }

  .landingpage-header__title {
    margin-top: var(--spacer-xxl);
    font-size: var(--font-size-xl);
    text-align: left;
    grid-column: 1;
  }

  .landingpage-header__subtitle {
    max-width: 20rem;
    margin-top: var(--spacer-xl);
    font-size: var(--font-size-base);
    text-align: left;
    grid-column: 1;
  }

  .landingpage-header__keyvisual {
    width: 20rem;
    height: auto;
    justify-self: center;
    rotate: 180deg;
    transform: scale(-1);
    grid-column: 2;
    grid-row: 2 / 4;
    margin-top: 0;
    align-self: center;
  }

  /* Footer */

  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacer-xl) var(--spacer-xxxl) var(--spacer-lg) var(--spacer-xxxl);
    margin-top: var(--spacer-sm);
    background-color: var(--brand-black);
    color: var(--brand-white);
  }

  .footer__subtitle {
    max-width: 60rem;
    margin-top: var(--spacer-lg);
    color: var(--brand-white);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--paragraph-line-height);
    text-align: flex-start;
  }

  .footer__logo {
    width: var(--spacer-xxxl);
    height: auto;
    margin-top: var(--spacer-sm);
  }

  .footer__textlink {
    margin-top: var(--spacer-xl);
    color: var(--brand-white);
    font-size: var(--font-size-base);
  }
}
