.details__code {
  margin-top: var(--spacer-base);
}

.code-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--spacer-base) 0;
  background-color: var(--brand-grey1);
  font-size: var(--font-size-sm);
}

code {
  max-width: fit-content;
}

figcaption {
  /* einheitliche Abstände zwischen caption und Bild, Tabelle etc.? */
  margin-top: var(--spacer-xs);
  font-size: var(--font-size-sm);
  text-align: center;
}
