/* general */

body {
  margin: 0;
}

.main__wrapper {
  max-width: var(--content-width-md);
  padding: var(--spacer-xl) var(--spacer-base) var(--spacer-xl) var(--spacer-base);
  margin: 0 auto;
}

.main-wrapper > * + * {
  margin-top: var(--spacer-sm);
}
