.details__links {
  margin-top: var(--spacer-base);
}

/*CSS Klassen vs. HTML Tags?*/

a {
  color: var(--brand-black);
}

a:hover {
  color: var(--brand-purple2);
}

a:focus {
  color: var(--brand-purple2);
}

.link-teaser {
  border-bottom: 3px solid var(--brand-purple2);
  color: var(--brand-black);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.link-teaser:hover {
  background-color: var(--brand-purple2);
  color: var(--brand-black);
}

.link-teaser:focus {
  background-color: var(--brand-purple2);
  color: var(--brand-black);
}

.link-button {
  display: inline-block;
  height: auto;
  padding: var(--spacer-xs) var(--spacer-sm);
  margin-top: var(--spacer-base);
  background-color: var(--brand-purple2);
  color: var(--brand-white);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
  text-decoration: none;
}

.link-button:hover {
  background-color: var(--brand-white);
  color: var(--brand-purple2);
  outline-color: var(--brand-purple2);
  outline-style: solid;
  transition: 0.5s ease-in-out;
}

.link-button:focus {
  background-color: var(--brand-white);
  color: var(--brand-purple2);
  outline-color: var(--brand-purple2);
  outline-style: solid;
  transition: 0.5 ease-in-out;
}
