/* teaser section mobile */

.stripe {
  display: flex;
  justify-content: center;
}

/* Teaser sections: stripes / color */

.stripe--grey {
  background-color: var(--brand-grey1);
}

.stripe--white {
  background-color: var(--brand-white);
}

.stripe--purple {
  background-color: var(--brand-purple2);
}

.landingpage-teaser-section__wrapper {
  padding: var(--spacer-xl) var(--spacer-base) var(--spacer-xl) var(--spacer-base);
}

/* Teaser sections titles */

.landingpage-teaser-section__title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
  text-align: left;
}

.landingpage-teaser-section__title--purple {
  color: var(--brand-purple1);
}

.landingpage-teaser-section__title--blue {
  color: var(--brand-blue1);
}

.landingpage-teaser-section__title--white {
  color: var(--brand-white);
}

/* Teaser section grid */

.landingpage-teaser-section__grid {
  display: grid;
  margin-top: var(--spacer-base);
  grid-gap: var(--spacer-md);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
}

/* Teaser section cards */

.landingpage-teaser__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacer-lg) var(--spacer-base) var(--spacer-lg) var(--spacer-base);
  color: var(--brand-white);
  text-align: left;
}

.landingpage-teaser__card--purple {
  background-color: var(--brand-purple1);
}

.landingpage-teaser__card--blue {
  background-color: var(--brand-blue1);
}

.landingpage-author-section__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacer-lg) var(--spacer-base) var(--spacer-lg) var(--spacer-base);
  background-color: var(--brand-white);
}

.landingpage-card__title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
}

.landingpage-author-card__header {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-items: start;
}

.landingpage-author-card__body {
  display: flex;
  min-width: 100%;
  text-align: flex-start;
}

.landingpage-author-card__title {
  margin-top: var(--spacer-md);
  color: var(--brand-black);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
}

.landingpage-author-card__twitterhandle {
  margin-top: var(--spacer-xxs);
  color: var(--brand-black);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
}

.landingpage-card__text {
  margin-top: var(--spacer-base);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
}

.landingpage-author-card__text {
  margin-top: var(--spacer-base);
  color: var(--brand-black);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
}

.landingpage-author-card__avatar {
  width: auto;
  height: 7rem;
  border-radius: 100%;
  background-color: var(--brand-grey2);
}

.landingpage-card__button {
  display: inline-block;
  height: auto;
  padding: var(--spacer-xxs);
  margin-top: var(--spacer-base);
  color: var(--brand-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
  text-decoration: none;
}

.landingpage-card__button--purple {
  background-color: var(--brand-purple2);
}

.landingpage-card__button--blue {
  background-color: var(--brand-blue2);
}

.landingpage-card__button--purple:hover {
  background-color: var(--brand-white);
  color: var(--brand-purple2);
  transition: 0.5s ease-in-out;
}

.landingpage-card__button--purple:focus {
  background-color: var(--brand-white);
  color: var(--brand-purple2);
  transition: 0.5s ease-in-out;
}

.landingpage-card__button--blue:hover {
  background-color: var(--brand-white);
  color: var(--brand-blue2);
  transition: 0.5s ease-in-out;
}

.landingpage-card__button--blue:focus {
  background-color: var(--brand-white);
  color: var(--brand-blue2);
  transition: 0.5 ease-in-out;
}

/* teaser-section --breakpoint-md: 48rem; */

@media screen and (min-width: 48rem) {
  .stripe {
    display: flex;
    justify-content: center;
  }

  /* Teaser section */

  .landingpage-teaser-section__wrapper {
    max-width: var(--content-width-xl);
    align-items: center;
    padding: var(--spacer-xxl) var(--spacer-lg) var(--spacer-xxl) var(--spacer-lg);
    justify-items: center;
  }

  /* Teaser section title */

  .landingpage-teaser-section__title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--heading-line-height);
    text-align: left;
  }

  .landingpage-teaser-section__grid {
    margin-top: var(--spacer-xl);
    grid-gap: var(--spacer-base);
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  /* Cards */

  .landingpage-teaser__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: var(--spacer-xl) var(--spacer-base);
    color: var(--brand-white);
    text-align: left;
  }

  .landingpage-author-card__header {
    display: grid;
    min-width: 100%;
    align-items: center;
    background-color: var(--brand-white);
    grid-gap: var(--spacer-md);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: start;
  }

  .landingpage-card__title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    line-height: var(--heading-line-height);
    text-align: left;
  }

  .landingpage-author-card__avatar {
    width: auto;
    height: 120px;
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }

  .landingpage-author-card__title {
    color: var(--brand-black);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    grid-column: 1;
    grid-row: 1;
    line-height: var(--heading-line-height);
    text-align: left;
  }

  .landingpage-author-card__twitterhandle {
    color: var(--brand-black);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    grid-column: 1;
    grid-row: 2;
    line-height: var(--paragraph-line-height);
  }

  .landingpage-card__text {
    margin-top: var(--spacer-lg);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--paragraph-line-height);
  }

  .landingpage-author-card__text {
    margin-top: var(--spacer-xl);
    color: var(--brand-black);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--paragraph-line-height);
  }

  .landingpage-card__button {
    display: inline-block;
    height: auto;
    padding: var(--spacer-xs);
    margin-top: var(--spacer-lg);
    color: var(--brand-white);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--paragraph-line-height);
    text-decoration: none;
  }
}
