figure {
  margin: 0;
}

figure img,
figure video {
  width: 100%;
}

figcaption {
  /* einheitliche Abstände zwischen caption und Bild, Tabelle etc.? */
  margin-top: var(--figcaption-spacing);
  font-size: var(--font-size-sm);
  text-align: center;
}
