.details__quotes {
  margin-top: var(--spacer-base);
}

.blockquote {
  font-style: italic;
}

.pullquote {
  padding: var(--spacer-xs);
  border-top: 3px solid var(--brand-purple2);
  border-bottom: 3px solid var(--brand-purple2);
  color: var(--brand-black);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
