.detail-header {
  background-color: var(--brand-black);
}

.detail__navbar {
  display: flex;
  padding: var(--spacer-md);
  background-color: var(--brand-black);
}

.detail-nav__start {
  width: 50%;
  align-items: center;
  justify-items: start;
}

.detail-nav__logo {
  max-width: 5rem;
}

.display-nav__end {
  display: flex;
  width: 50%;
  align-items: center;
  justify-items: flex-end;
}

.navbar-item {
  color: var(--brand-white);
  font-size: var(--font-size-xxs);
  text-decoration: none;
}
