pre > code {
  display: block;
  overflow: auto;
  padding: var(--spacer-xs);
  background-color: var(--brand-grey1);
  font-size: var(--font-size-sm);
}

figcaption {
  margin-top: var(--figcaption-spacing);
  font-size: var(--font-size-sm);
  text-align: center;
}
