/* for mobile */
h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
}

p {
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
}

.landingpage-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--brand-black);
}

.landingpage-header__logo {
  margin-top: 5%;
  width: 30%;
  height: auto;
}

.landingpage-header__title {
  padding-right: 10%;
  padding-left: 10%;
  margin-top: 15%;
  color: var(--brand-white);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
}

.landingpage-header__subtitle {
  padding-right: 10%;
  padding-left: 10%;
  margin-top: 10%;
  color: var(--brand-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
}

.landingpage-header__keyvisual {
  margin-top: 10%;
  width: 20%;
  height: auto;
  rotate: 90deg;
  transform: scaleY(-1);
}

@media screen and (min-width: 768px) {
  .landingpage-header__logo {
    width: 60%;
    height: auto;
  }

  .landingpage-header__title {
    font-size: var(--font-size-xl);
  }

  .landingpage-header__subtitle {
    font-size: var(--font-size-base);
  }

  .landingpage-header__keyvisual {
    width: 40%;
    height: auto;
  }
}
