.details__quotes {
  margin-top: var(--spacer-base);
}

/* Wie bekomme ich die Quotes in den Marker? */

.marker-blue {
  background-color: var(--brand-blue1);
}

long-quote {
  display: flex;
  flex-direction: column;
  padding: var(--spacer-sm);
  font-style: normal;
  quotes: '„' '“' '‚' '‘';
  text-align: center;
}

blockquote {
  display: inline-block;
  margin: 0;
  font-size: var(--font-size-base);
  line-height: 1.5;
}

blockquote::before,
blockquote::after {
  position: relative;
  display: inline-block;
}

blockquote::after {
  content: close-quote;
}

blockquote::before {
  content: open-quote;
}

cite {
  margin-top: var(--spacer-xs);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.job-role {
  font-style: italic;
  text-align: center;
}
