/* for mobile */

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
}

p {
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
}

.landingpage-header {
  display: flex;
  justify-content: center;
  background-color: var(--brand-black);
}

.landingpage-header__wrapper {
  display: grid;
  max-width: var(--content-width-xl);
  align-items: center;
  padding: var(--spacer-lg) var(--spacer-md) var(--spacer-lg) var(--spacer-md);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.landingpage-header__logo {
  width: var(--spacer-xxl);
  height: auto;
}

.landingpage-header__title {
  margin-top: var(--spacer-xl);
  color: var(--brand-white);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
  text-align: center;
}

.landingpage-header__subtitle {
  max-width: 20rem;
  margin-top: var(--spacer-base);
  color: var(--brand-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
  text-align: center;
}

.landingpage-header__keyvisual {
  width: var(--spacer-xxl);
  height: auto;
  margin-top: var(--spacer-lg);
  rotate: 90deg;
  transform: scaleY(-1);
}

/* teaser section mobile */

.landingpage-teaser {
  display: flex;
  justify-content: center;
}

.landingpage-teaser--grey {
  background-color: #e9e9e9;
}

.landingpage-teaser--white {
  background-color: var(--brand-white);
}

.landingpage-teaser--purple {
  background-color: var(--brand-purple2);
}

.landingpage-teaser__wrapper {
  padding: var(--spacer-xl) var(--spacer-base) var(--spacer-xl) var(--spacer-base);
}

.landingpage-teaser__title {
  margin-top: var(--spacer-base);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
  text-align: start;
}

.landingpage-teaser__title--purple {
  color: var(--brand-purple1);
}

.landingpage-teaser__title--blue {
  color: var(--brand-blue1);
}

.landingpage-teaser__title--black {
  color: var(--brand-black);
}

/* Problem beim Größerziehen: springt von 2spaltig zu einspaltig zurück auf 1spaltig */

.landingpage-teaser__grid {
  display: grid;
  margin-top: var(--spacer-lg);
  grid-gap: var(--spacer-lg);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
}

/* einheitliche Höhe bei unterschiedlich viel Text? min-height? */

.landingpage-teaser__card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: var(--spacer-lg) var(--spacer-base) var(--spacer-lg) var(--spacer-base);
  color: var(--brand-white);
  text-align: start;
}

.landingpage-teaser__card--purple {
  background-color: var(--brand-purple1);
}

.landingpage-teaser__card--blue {
  background-color: var(--brand-blue1);
}

.landingpage-teaser__card--white {
  background-color: var(--brand-white);
}

.landingpage-card__title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
}

.landingpage-card__title--black {
  margin-top: var(--spacer-md);
  color: var(--brand-black);
}

.landingpage-card__twitterhandle {
  margin-top: var(--spacer-xxs);
  color: var(--brand-black);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
}

.landingpage-card__subtitle {
  margin-top: var(--spacer-base);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
}

.landingpage-card__subtitle--black {
  color: var(--brand-black);
}

.landingpage-teaser__card__avatar {
  width: auto;
  height: 5rem;
  border-radius: 100%;
  background-color: var(--brand-purple3);
}

/* Noch offen: Hover, visited */

.landingpage-card__button {
  display: inline-block;
  height: auto;
  padding: var(--spacer-xxs);
  margin-top: var(--spacer-base);
  color: var(--brand-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
  text-decoration: none;
}

.landingpage-card__button--purple {
  background-color: var(--brand-purple2);
}

.landingpage-card__button--blue {
  background-color: var(--brand-blue2);
}

/* footer mobile */

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--brand-black);
}

.footer__wrapper {
  display: flex;
  max-width: var(--content-width-xl);
  flex-direction: column;
  align-items: center;
  padding: var(--spacer-lg);
  color: var(--brand-white);
}

.footer__subtitle {
  margin-top: var(--spacer-lg);
  color: var(--brand-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--paragraph-line-height);
  text-align: center;
}

.footer__logo {
  width: var(--spacer-xxl);
  height: auto;
  align-content: center;
  margin-top: var(--spacer-sm);
}

.footer__textlink {
  align-items: center;
  margin-top: var(--spacer-base);
  color: var(--brand-white);
  font-size: var(--font-size-sm);
}

/* breakpoint für größere Screens */

/* Header */

@media screen and (min-width: 48rem) {
  .landingpage-header__wrapper {
    align-items: start;
    padding: var(--spacer-xxxl);
    grid-column-gap: var(--spacer-lg);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: start;
  }

  .landingpage-header__logo {
    width: var(--spacer-xxxl);
    height: auto;
    grid-column: 1;
  }

  .landingpage-header__title {
    margin-top: var(--spacer-xxl);
    font-size: var(--font-size-xl);
    text-align: left;
    grid-column: 1;
  }

  .landingpage-header__subtitle {
    max-width: 20rem;
    margin-top: var(--spacer-xl);
    font-size: var(--font-size-base);
    grid-column: 1;
    text-align: left;
  }

  .landingpage-header__keyvisual {
    width: 20rem;
    height: auto;
    align-self: center;
    margin-top: 0;
    grid-column: 2;
    grid-row: 2 / 4;
    justify-self: center;
    rotate: 180deg;
    transform: scale(-1);
  }

  /* antipatterns große Screens */

  .landingpage-teaser {
    display: flex;
    justify-content: center;
  }

  .landingpage-teaser--grey {
    background-color: #e9e9e9;
  }

  .landingpage-teaser--white {
    background-color: var(--brand-white);
  }

  .landingpage-teaser--purple {
    background-color: var(--brand-purple1);
  }

  .landingpage-teaser__wrapper {
    max-width: var(--content-width-xl);
    align-items: center;
    padding: var(--spacer-xl) var(--spacer-xxxl) var(--spacer-xxl) var(--spacer-xxxl);
    justify-items: center;
  }

  .landingpage-teaser__title {
    margin-top: var(--spacer-xl);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--heading-line-height);
    text-align: start;
  }

  .landingpage-teaser__title--purple {
    color: var(--brand-purple1);
  }

  .landingpage-teaser__title--blue {
    color: var(--brand-blue1);
  }

  .landingpage-teaser__title--black {
    color: var(--brand-black);
  }

  .landingpage-teaser__grid {
    margin-top: var(--spacer-xl);
    grid-gap: var(--spacer-xl);
  }

  .landingpage-teaser__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: var(--spacer-xl) var(--spacer-base) var(--spacer-xl) var(--spacer-base);
    color: var(--brand-white);
    text-align: start;
  }

  .landingpage-card--purple {
    background-color: var(--brand-purple1);
  }

  .landingpage-card--blue {
    background-color: var(--brand-blue1);
  }

  .landingpage-teaser__card--white {
    display: grid;
    align-items: center;
    background-color: var(--brand-white);
    grid-gap: var(--spacer-md);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: start;
  }

  .landingpage-card__title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    line-height: var(--heading-line-height);
    text-align: start;
  }

  .landingpage-teaser__card__avatar {
    width: auto;
    height: 100px;
    align-self: end;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }

  .landingpage-card__title--black {
    color: var(--brand-black);
    grid-column: 1;
    grid-row: 1;
  }

  .landingpage-card__twitterhandle {
    color: var(--brand-black);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    grid-column: 1;
    grid-row: 2;
    line-height: var(--paragraph-line-height);
  }

  .landingpage-card__subtitle {
    margin-top: var(--spacer-lg);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--paragraph-line-height);
  }

  .landingpage-card__subtitle--black {
    margin-top: var(--spacer-md);
    color: var(--brand-black);
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .landingpage-card__button {
    display: inline-block;
    height: auto;
    padding: var(--spacer-xs);
    margin-top: var(--spacer-lg);
    color: var(--brand-white);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--paragraph-line-height);
    text-decoration: none;
  }

  .landingpage-card__button--purple {
    background-color: var(--brand-pruple2);
  }

  .landingpage-card__button--blue {
    background-color: var(--brand-blue2);
  }

  /* Footer */

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacer-xxl) var(--spacer-xxxl);
    margin-top: var(--spacer-sm);
  }

  .footer__subtitle {
    margin-top: var(--spacer-lg);
    color: var(--brand-white);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--paragraph-line-height);
    text-align: start;
  }

  .footer__logo {
    width: var(--spacer-xxxxl);
    height: auto;
    margin-top: var(--spacer-base);
  }

  .footer__textlink {
    margin-top: var(--spacer-xl);
    color: var(--brand-white);
    font-size: var(--font-size-base);
  }
}
