/* general */

body {
  margin: 0;
}

.main__wrapper {
  margin: 0 auto;
  padding: var(--spacer-xl) var(--spacer-base) var(--spacer-xl) var(--spacer-base);
}

@media screen and (min-width: 48rem) {
  .main__wrapper {
    max-width: var(--content-width-xl);
  }
}
