.details__quotes {
  margin-top: var(--spacer-base);
}

/* Recherche Quotes Styling CodePe,n CSS Tricks, Google */

long-quote {
  display: flex;
  flex-direction: column;
  padding: var(--spacer-sm);
  font-style: normal;
  text-align: center;
}

.marker-blue {
  background-color: var(--brand-blue1);
}

blockquote {
  margin: 0;
  font-size: var(--font-size-base);
  line-height: 1.5;
}

blockquote::before,
blockquote::after {
  position: inline;
  display: inline-block;
  vertical-align: bottom;
}

blockquote::after {
  content: close-quote;
}

blockquote::before {
  content: open-quote;
}

cite {
  margin-top: var(--spacer-xs);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.job-role {
  font-style: italic;
  text-align: center;
}
